.button{
  width: 75px;
  height: 75px;
  padding: 1px 1px 1px 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 0px solid #ccc;
  position: relative;

}



html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  position: fixed;
}

body { font-family:courier; background-color:lightgray}
a   { font-family:courier; }
p    { font-family:courier; color:green}


table {
    padding: 0 0px 0 0px;
}

tr, td {
    padding: 0;
}

.custom-select {
  position: relative;
  font-family: courier;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}
